export default {
    discord_token: "your.discord.token",
    owner_id: "your.discord.user.id",
    prefix: "=",

    cmc_domain: "sandbox-api.coinmarketcap.com",
    cmc_api_key: "b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c",

    reddit: {
        userAgent: "",
        clientId: "",
        clientSecret: "",
        username: "",
        password: "",
    },
};
